.contactCard-table{
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}

.contactCard-table thead{
    height:55px;
    font-size: 16px;
    color: red;
}

.contactCard-table tbody tr{
    font-size: 14px;
    color:black;
    font-weight: 400;
    text-align: center;
}